{{define "table"}}
{{ $headers := .Headers }}
<table class="data-table" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2">
      <table class="data-table-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          {{range $headers}}
          <th width="{{.Width}}" align="{{.Align}}">
            <p class="f-fallback">{{.Text}}</p>
          </th>
          {{end}}
        </tr>
        {{range .Rows }}
        <tr>
          {{range $index, $element := .}}
          {{ $header := index $headers $index }}
          <td class="align-{{$header.Align}}">
            <span class="f-fallback">{{$element}}</span>
          </td>
          {{end}}
        </tr>
        {{end}}
      </table>
    </td>
  </tr>
</table>
{{end}}