{{define "table"}}
{{ $columns := .Columns }}
{{ $firstRow := index .Data 0 }}
<table class="data-table" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2">
      <table class="data-table-content" width="100%" cellpadding="0" cellspacing="0">
        <!-- Header Row -->
        <tr>
          {{range $entry := $firstRow}}
          {{ $width := index $columns.CustomWidth $entry.Key }}
          {{ $align := index $columns.CustomAlign $entry.Key }}
          <th width="{{or $width "auto"}}" align="{{or $align "left"}}">
            <p class="f-fallback">{{ capitalize $entry.Key }}</p>
          </th>
          {{end}}
        </tr>

        <!-- Data Rows -->
        {{range .Data }}
        <tr>
          {{range $entry := .}}
          {{ $align := index $columns.CustomAlign $entry.Key }}
          <td class="align-{{or $align "left"}}">
            <span class="f-fallback">{{ $entry.Value }}</span>
          </td>
          {{end}}
        </tr>
        {{end}}
      </table>
    </td>
  </tr>
</table>
{{end}}